<section id="about" class="p-t-3 p-b-3">
    <div class="container p-t-3 p-b-3">
        <div class="row">
            <div class="col-md-12 text-xs-center m-b-3">
                <h2>We Are Paradox<br/><strong class="text-primary">A Leading Digital Agency</strong></h2>
                <p>Lorem ipsum mere tur lorem ipsum <a href="#contact-form">abc</a> lorem ipsum mere tur</p>
            </div>
            <div class="col-sm-6 feature-left">
                <i class="icon-telescope size-3x text-primary"></i>
                <i class="icon-telescope back-icon"></i>
                <div class="feature-left-content">
                    <h4><strong class="text-primary">We're Creative</strong><br>Crafting With Love</h4>
                    <p>Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.</p>
                </div>
            </div>
            <div class="col-sm-6 feature-left">
                <i class="icon-circle-compass size-3x text-primary"></i>
                <i class="icon-circle-compass back-icon"></i>
                <div class="feature-left-content">
                    <h4><strong class="text-primary">We're Passionate</strong><br>Available When You Need Us</h4>
                    <p>Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.</p>
                </div>
            </div>
            <div class="col-sm-6 feature-left">
                <i class="icon-genius size-3x text-primary"></i>
                <i class="icon-genius back-icon"></i>
                <div class="feature-left-content">
                    <h4><strong class="text-primary">We're Cool Nerds</strong><br>Coding With Fun</h4>
                    <p>Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.</p>
                </div>
            </div>
            <div class="col-sm-6 feature-left">
                <i class="icon-layers size-3x text-primary"></i>
                <i class="icon-layers back-icon"></i>
                <div class="feature-left-content">
                    <h4><strong class="text-primary">We're Professional</strong><br>Auckland Based</h4>
                    <p>Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.</p>
                </div>
            </div>
        </div>
    </div>
</section>