<section id="about" class="p-t-3 p-b-3">
    <div class="container p-t-3 p-b-3">
        <div class="row">
            <div class="col-md-12 text-xs-center m-b-3">
                <h2>We Are Paradox<br/><strong class="text-primary">A Leading Digital Agency</strong></h2>
                <p>Fast and beautiful websites, incredible android and iPhone apps, <a href="#contact-form">contact us</a> now for a free quote</p>
            </div>
            <div class="col-sm-6 feature-left">
                <i class="icon-beaker size-3x text-primary"></i>
                <i class="icon-beaker back-icon"></i>
                <div class="feature-left-content">
                    <h4><strong class="text-primary">We're Creative</strong><br>Crafting With Love</h4>
                    <p>We will design the website and app from the ground up and ensure it works great on all devices. A custom built solution build for you and your customers.</p>
                </div>
            </div>
            <div class="col-sm-6 feature-left">
                <i class="icon-heart size-3x text-primary"></i>
                <i class="icon-heart back-icon"></i>
                <div class="feature-left-content">
                    <h4><strong class="text-primary">We're Passionate</strong><br>Available When You Need Us</h4>
                    <p>Contact us and we will respond! We believe in today's day and age there is no excuse for not receiving a reply to an e-mail or phone call stat!</p>
                </div>
            </div>
            <div class="clearfix hidden-md-down"></div>
            <div class="col-sm-6 feature-left">
                <i class="icon-genius size-3x text-primary"></i>
                <i class="icon-genius back-icon"></i>
                <div class="feature-left-content">
                    <h4><strong class="text-primary">We're Cool Nerds</strong><br>Who Can Communication</h4>
                    <p>Our programmers are talented AND have great communication skills. No more technical jargon, just clear communication. We will work closely with you to get the result you want.</p>
                </div>
            </div>
            <div class="col-sm-6 feature-left">
                <i class="icon-global size-3x text-primary"></i>
                <i class="icon-global back-icon"></i>
                <div class="feature-left-content">
                    <h4><strong class="text-primary">We're Professional</strong><br>Auckland Based</h4>
                    <p>Based in the "capital" of New Zealand, we are amongst the center of the tech industry and are leaders in our fields. Talents programmers, professional business management, simple.</p>
                </div>
            </div>
        </div>
    </div>
</section>