<section id="capabilities" class="p-t-3 p-b-3">
    <div class="container p-t-3 p-b-3">
        <div class="row">
            <div class="col-md-12 text-xs-center m-b-3">
                <h2>What We Do<br/><strong class="text-primary">Our Capabilities</strong></h2>
                <p>A highly skilled professional service with a <a href="#contact-form">creative touch</a>.</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-4 col-md-6 col-sm-6 feature-left">
                <i class="icon-telescope size-3x color"></i>
                <i class="icon-telescope back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong class="text-primary">Graphic Design</strong><br>Crafting With Love</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 feature-left">
                <i class="icon-circle-compass size-3x color"></i>
                <i class="icon-circle-compass back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong class="text-primary">Modern Coding</strong><br>Crafting With Love</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p> 
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 feature-left">
                <i class="icon-genius size-3x color"></i>
                <i class="icon-genius back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong class="text-primary">Web Optimization</strong><br>Lightning Fast</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p> 
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 feature-left">
                <i class="icon-layers size-3x color"></i>
                <i class="icon-layers back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong class="text-primary">Brand Indentity</strong><br>Making a New You</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 feature-left">
                <i class="icon-gears size-3x color"></i>
                <i class="icon-gears back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong class="text-primary">24/7 Free Support</strong><br>Free Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p> 
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 feature-left">
                <i class="icon-globe size-3x color"></i>
                <i class="icon-globe back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong class="text-primary">Having Fun</strong><br>Office Surfing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p> 
                </div> 
            </div>
        </div>
    </div>
</section>