<section id="capabilities" class="p-t-3 p-b-3">
    <div class="container p-t-3 p-b-3">
        <div class="row">
            <div class="col-md-12 text-xs-center m-b-3">
                <h2>What We Do<br/><strong class="text-primary">Our Capabilities</strong></h2>
                <p>A highly skilled professional service with a <a href="#contact-form">creative touch</a>.</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-4 col-md-6 col-sm-6 feature-left">
                <i class="icon-telescope size-3x color"></i>
                <i class="icon-telescope back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong class="text-primary">Custom Design</strong><br>Crafted with Perfection</h4>
                    <p>Color contract, fonts, text size, spacing between buttons, we consider it all when designing your next project.</p>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 feature-left">
                <i class="icon-circle-compass size-3x color"></i>
                <i class="icon-circle-compass back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong class="text-primary">Modern Coding</strong><br>Built for Speed and to Last</h4>
                    <p>We build websites and apps fast using the latests tools and technology. We will turn around your project fast.</p> 
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 feature-left">
                <i class="icon-genius size-3x color"></i>
                <i class="icon-genius back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong class="text-primary">Web Optimization</strong><br>Lightning Fast</h4>
                    <p>The faster the website and app load, the more likely a user will stay. Even Google will rank you higher because of it.</p> 
                </div> 
            </div>
            <div class="clearfix hidden-md-down"></div>
            <div class="col-lg-4 col-md-6 col-sm-6 feature-left">
                <i class="icon-layers size-3x color"></i>
                <i class="icon-layers back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong class="text-primary">Comprehensive Testing</strong><br>Squash those Bugs</h4>
                    <p>We test the designs with real users, the code with experienced testers, and have code reviews to kill those bugs fast.</p>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 feature-left">
                <i class="icon-globe size-3x color"></i>
                <i class="icon-globe back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong class="text-primary">Impressive Apps</strong><br>iOS, Android, Windows</h4>
                    <p>1 website, 1 cross device app, plus shared content. Update your content on the website and instantly have it available in your app.</p> 
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 feature-left">
                <i class="icon-gears size-3x color"></i>
                <i class="icon-gears back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong class="text-primary">Free Technical Support</strong><br>From Start to Forever</h4>
                    <p>We believe in maintaining relationships with our clients. Let us build your next project and we will take care of you for life.</p> 
                </div> 
            </div>
        </div>
    </div>
</section>