<footer id="footer" class="footer style-1 dark">
    <a href="#hero"><img src="public/img/paradox-logo-footer.png" alt="#" class="mr-auto img-responsive footer-logo"></a>
    <ul class="m-t-2">
        <li class="social-icon"><a href="https://www.twitter.com/" target="_blank" class="text-primary"><i class="icon-twitter"></i></a></li>
        <li class="social-icon"><a href="https://www.facebook.com/" target="_blank" class="text-primary"><i class="icon-facebook "></i></a></li>
        <li class="social-icon"><a href="https://www.linkedin.com/" target="_blank" class="text-primary"><i class="icon-linkedin "></i></a></li>
        <li class="social-icon"><a href="https://plus.google.com/" target="_blank" class="text-primary"><i class="icon-googleplus"></i></a></li> 
    </ul>
    <a href="#contact-form"><strong>© Paradox 2016</strong></a>
    <p>Digital solutions created for great people.</p>
    <!-- Back To Top Button -->
    <span><a href="#hero" class="scroll-top text-primary"><i class="chevron"></i></a></span>
</footer>