<section id="headline" class="parallax dark p-t-3 p-b-3">
    <div class="parallax-background" style="background-image: url(public/img/backgrounds/bg-4.jpg);">
        <img src="public/img/backgrounds/bg-4.jpg" alt="#">
    </div>
    <div class="container p-t-3 p-b-3">   
        <div class="row vertical-align text-xs-center p-t-3 p-b-3">
            <div class="col-md-12 p-t-3 p-b-3">   
                <h2>A Perfect Design is <strong class="text-primary">Passion, Dedication</strong><br>and lots of Coffee</h2> 
                <a href="#contact-form" class="btn btn-primary btn-md m-t-1 color-white">Paradox Team</a> 
            </div>
        </div>
    </div>
</section>