<section id="hero" class="parallax dark">
    <div class="parallax-background hidden-md-up" style="background-image: url(public/img/backgrounds/bg-7.jpg);">
        <img src="public/img/backgrounds/bg-7.jpg" alt="#">
    </div>
    <div class="parallax-background hidden-sm-down">
        <div id="video-container"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-xs-center">
                <h1>We Are NimbleCat<br/><strong>A leading digital agency</strong></h1>
                <p class="lead">We are a digital agency that loves crafting beautiful websites and apps with great functionality</p>
                <a href="#about" class="btn btn-lg btn-primary">Find out more</a>
            </div>
        </div>
    </div>
</section>