<section id="hero" class="parallax dark">
    <div class="parallax-background">
        <div id="video-container"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-xs-center">
                <h1>We Are Paradox<br/><strong>A leading digital agency</strong></h1>
                <p class="lead">We are a digital agency that loves crafting beautiful websites and apps with great functionality</p>
                <a href="#about" class="btn btn-lg btn-primary">Find out more</a>
            </div>
        </div>
    </div>
</section>