<section id="projects" class="p-t-3 p-b-3">
    <div class="container p-t-3 p-b-3">
        <div class="row">
            <div class="col-md-12 text-xs-center  m-b-3">
                <h2>Projects<br/><strong class="text-primary">Websites and Apps</strong></h2>
                <p>Some of the projects we've worked on in the UK, AUS, and NZ.</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-columns">
          <div class="card">
            <img class="card-image card-img-top img-fluid" data-src="public/img/projects/pizza-express.jpg" alt="Pizza Express" />
            <div class="card-img-overlay">
              <h4 class="card-title">Pizza Express</h4>
              <p class="card-text"><a href="https://www.pizzaexpress.com" target="_blank" class="btn btn-sm btn-primary">View</a></p>
            </div>
          </div>
          <div class="card">
            <img class="card-image card-img-top img-fluid" data-src="public/img/projects/stagecoach.jpg" alt="Stagecoach"/>
            <div class="card-img-overlay">
              <h4 class="card-title">Stagecoach</h4>
              <p class="card-text"><a href="https://www.stagecoachbus.com" target="_blank" class="btn btn-sm btn-primary">View</a></p>
            </div>
          </div>
          <div class="card">
            <img class="card-image card-img-top img-fluid" data-src="public/img/projects/lbs.jpg" alt="London Business School"/>
            <div class="card-img-overlay">
              <h4 class="card-title">London Business School</h4>
              <p class="card-text"><a href="https://www.london.edu/" target="_blank" class="btn btn-sm btn-primary">View</a></p>
            </div>
          </div>
          <div class="card">
            <img class="card-image card-img-top img-fluid" data-src="public/img/projects/rufus.jpg" alt="Rufus Leonard" />
            <div class="card-img-overlay">
              <h4 class="card-title">Rufus Leonard</h4>
              <p class="card-text"><a href="http://rufusleonard.com/" target="_blank" class="btn btn-sm btn-primary">View</a></p>
            </div>
          </div>
          <div class="card">
            <img class="card-image card-img-top img-fluid" data-src="public/img/projects/aucklandwebdesigns.jpg" alt="Auckland Web Designs" />
            <div class="card-img-overlay">
              <h4 class="card-title">Auckland Web Designs</h4>
              <p class="card-text"><a href="https://www.aucklandwebdesigns.co.nz" target="_blank" class="btn btn-sm btn-primary">View</a></p>
            </div>
          </div>
          <div class="card">
            <img class="card-image card-img-top img-fluid" data-src="public/img/projects/autowholesalers.jpg" alt="Autowholesalers" />
            <div class="card-img-overlay">
              <h4 class="card-title">Autowholesalers</h4>
              <p class="card-text"><a href="http://www.autowholesalers.co.nz" target="_blank" class="btn btn-sm btn-primary">View</a></p>
            </div>
          </div>
          <div class="card">
            <img class="card-image card-img-top img-fluid" data-src="public/img/projects/fifo-connect.jpg" alt="FIFO Connect" />
            <div class="card-img-overlay">
              <h4 class="card-title">FIFO Connect</h4>
              <p class="card-text"><a href="http://fifoconnect.com.au" target="_blank" class="btn btn-sm btn-primary">View</a></p>
            </div>
          </div>
          <div class="card">
            <img class="card-image card-img-top img-fluid" data-src="public/img/projects/mark-beckett.jpg" alt="Mark Beckett" />
            <div class="card-img-overlay">
              <h4 class="card-title">Mark Beckett</h4>
              <p class="card-text"><a href="http://www.markbeckettdiamonds.co.nz/" target="_blank" class="btn btn-sm btn-primary">View</a></p>
            </div>
          </div>
          <div class="card">
            <img class="card-image card-img-top img-fluid" data-src="public/img/projects/hotshottrader.jpg" alt="HotShotTrader" />
            <div class="card-img-overlay">
              <h4 class="card-title">HotShotTrader</h4>
            </div>
          </div>
          <div class="card">
            <img class="card-image card-img-top img-fluid" data-src="public/img/projects/clarks-organic-butchery.jpg" alt="Clarks Organic Butchery" />
            <div class="card-img-overlay">
              <h4 class="card-title">Clarks Organic Butchery</h4>
              <p class="card-text"><a href="http://clarksorganicbutchery.co.nz/" target="_blank" class="btn btn-sm btn-primary">View</a></p>
            </div>
          </div>
          <div class="card">
            <img class="card-image card-img-top img-fluid" data-src="public/img/projects/wine-food-finder.jpg" alt="Wine Food Finder" />
            <div class="card-img-overlay">
              <h4 class="card-title">Wine Food Finder</h4>
              <p class="card-text"><a href="https://github.com/shaunnez/wine-food-finder" target="_blank" class="btn btn-sm btn-primary">View</a></p>
            </div>
          </div>
          <div class="card">
            <img class="card-image card-img-top img-fluid" data-src="public/img/projects/dragon-racer.jpg" alt="Dragon Racer" />
            <div class="card-img-overlay">
              <h4 class="card-title">Dragon Racer</h4>
              <p class="card-text"><a href="https://github.com/shaunnez/dragonracer" target="_blank" class="btn btn-sm btn-primary">View</a></p>
            </div>
          </div>
        </div>
    </div>
</section>
