<section id="services" class="p-t-3 p-b-3">
    <div class="container p-t-3 p-b-3">
        <div class="row">
            <div class="col-md-12 text-xs-center m-b-3">
                <h2>Some of our<br/><strong class="text-primary">Fantastic Services</strong></h2>
                <p><a href="#contact-form">Contact us</a> for a free quote - we're ready when you are.</p>
            </div>
            <div class="clearfix"></div>
            <div class="row  text-xs-center">
                <div class="col-md-6 col-lg-3">
                    <div class="card">
                        <img class="card-img-top" src="public/img/backgrounds/web-design.jpg" alt="Simple Static Website">
                        <div class="card-block">
                            <h5 class="card-title">Simple Static Website</h5>
                            <p class="card-text">We can build you a one-off, custom built, beautiful website that loads fast. Have a design in mind? We can use it. Want something custom? No problem</p>
                            <p class="card-text">It will be responsive and work across all devices. Small phones, smart phones, tablets and desktops. Each device will feel like the website has been built for it specifically</p>
                            <p class="card-text"><small class="text-muted">Did we mention SEO? Rank highly on Google with us!</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card">
                        <img class="card-img-top" src="public/img/backgrounds/web-design-full.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Website with a CMS</h5>
                            <p class="card-text">CMS - Content Management System. We can build you a website where YOU control the content. Videos, images, PDFs, reports, user management and more.</p>
                            <p class="card-text">The website will be designed from the ground up to run fast, promote your brand, and give you the control that you require without the complication.</p>
                            <p class="card-text"><small class="text-muted">By the way it's super easy to add and update the content.</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card">
                        <img class="card-img-top" src="public/img/backgrounds/mobile-design.jpg" alt="Simple Static Website">
                        <div class="card-block">
                            <h5 class="card-title">Awesome Apps</h5>
                            <p class="card-text">We can build you an app that looks beautiful, runs fast, and does some pretty nifty stuff. Google maps, geolocation, push notifications, bluetooth, camera etc.</p>
                            <p class="card-text">Whatever your need, we can do it. We can build native apps specifically for each device, or a single app that works across all devices and feels almost as fast.</p>
                            <p class="card-text"><small class="text-muted">Tell us your idea, lets design and build it together.</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card">
                        <img class="card-img-top" src="public/img/backgrounds/web-design-2.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title">Content Managed Apps</h5>
                            <p class="card-text">Most apps require you to pay a developer to resubmit it to the various application stores every time you want the content changed.</p>
                            <p class="card-text">We can convert an existing or new website into a real-time datastore that your application can communicate with WITHOUT having to go back to Apple or Google or the Windows app store.</p>
                            <p class="card-text"><small class="text-muted">Content synced across your website and app? Cool huh!</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>