<section id="skills" class="parallax dark p-t-3 p-b-3">
    <div class="parallax-background" style="background-image: url(public/img/backgrounds/bg-2.jpg)">
        <img src="public/img/backgrounds/bg-2.jpg" alt="#">
    </div>
    <div class="container p-t-3 p-b-3">   
        <div class="row vertical-align ">
            <div class="col-md-6 pr30 mt40">   
                <h2><strong>Our Skills</strong><br><span class="text-primary">Crafting With Love</span></h2>   
                <p class="text-muted">Fusce faucibus tincidunt nulla, tincidunt sagittis magna venenatis quis. Proin commodo eu ipsum eu suscipit. In dapibus arcu sit amet imperdiet. Praesent condimentum nulla at mauris ornare. Praesent condimentum nulla at mauris ornare, eget consequat felis euismod. Praesent condimentum nulla at mauris ornare.</p>
                <p class="text-muted">Praesent condimentum nulla at mauris ornare, eget consequat felis euismod. Praesent condimentum nulla at mauris ornare. Fusce faucibus tincidunt nulla, tincidunt sagittis magna venenatis quis. Proin commodo eu ipsum eu suscipit.</p> 
            </div>
            <div class="col-md-6 pt40 pb30">                        
                <div class="progress-bars standard transparent-bars" data-animate-on-scroll="on">
                    <h5 class="bold">Branding</h5>
                    <progress class="progress progress-primary" value="85" max="100" aria-describedby="Branding"></progress>
                    <h5 class="bold">User Experience</h5>
                    <progress class="progress progress-primary" value="100" max="100" aria-describedby="User Experience"></progress>
                    <h5 class="bold">Web Design</h5>
                    <progress class="progress progress-primary" value="70" max="100" aria-describedby="Web Design"></progress>
                    <h5 class="bold">Fun</h5>
                    <progress class="progress progress-primary" value="82" max="100" aria-describedby="Fun"></progress>
                </div>
            </div>
        </div>
    </div>
</section>