<section id="skills" class="parallax dark p-t-3 p-b-3">
    <div class="parallax-background" style="background-image: url(public/img/backgrounds/bg-2.jpg)">
        <img src="public/img/backgrounds/bg-2.jpg" alt="#">
    </div>
    <div class="container p-t-3 p-b-3">   
        <div class="row vertical-align ">
            <div class="col-md-6 pr30 mt40">   
                <h2><strong>Our Skills</strong><br><span class="text-primary">Crafting With Confidence</span></h2>   
                <p class="text-muted">We are experts in the IT industry. Branding, UX, Design, Development & Testing is what we do. Let us help shape your brand to be the next leader of your industry.</p>
                <p class="text-muted">We will build your website and app to be great from the ground up. High quality, fast, responsive websites and apps that promote your brand and simply work well for your users.</p> 
            </div>
            <div class="col-md-6 pt40 pb30">                        
                <div class="progress-bars standard transparent-bars" data-animate-on-scroll="on">
                    <h5 class="bold">Branding</h5>
                    <progress class="progress progress-primary" value="91" max="100" aria-describedby="Branding"></progress>
                    <h5 class="bold">User Experience</h5>
                    <progress class="progress progress-primary" value="94" max="100" aria-describedby="User Experience"></progress>
                    <h5 class="bold">Web Design</h5>
                    <progress class="progress progress-primary" value="97" max="100" aria-describedby="Web Design"></progress>
                    <h5 class="bold">Fun</h5>
                    <progress class="progress progress-primary" value="100" max="100" aria-describedby="Development and Testing"></progress>
                </div>
            </div>
        </div>
    </div>
</section>