<section id="team" class="p-t-3 p-b-3">
    <div class="container p-t-3 p-b-3">    
        <div class="row">   
            <div class="col-md-12 text-xs-center m-b-3">
                <h2>Our Creative <strong class="text-primary">Collective</strong></h2>
                <p class="lead">Talented and created people with <span class="color">big ideas</span>. Design and prototyping from day one.</p> 
            </div>

            <div class="col-md-6">
                <div class="team-container m-b-1">
                    <div class="team-image">
                        <img src="public/img/team/shaun.jpg" class="img-responsive" alt="#">
                    </div> 
                    <div class="team-caption">
                        <ul> 
                            <li class="social-icon"><a href="https://www.twitter.com/" target="_blank" class="text-primary"><i class="icon-twitter"></i></a></li>
                            <li class="social-icon"><a href="https://www.facebook.com/" target="_blank" class="text-primary"><i class="icon-facebook "></i></a></li>
                            <li class="social-icon"><a href="https://www.linkedin.com/" target="_blank" class="text-primary"><i class="icon-linkedin "></i></a></li>
                            <li class="social-icon"><a href="https://plus.google.com/" target="_blank" class="text-primary"><i class="icon-googleplus"></i></a></li> 
                        </ul> 
                    </div>  
                </div>
                <h6>Founder / CTO / Lead Programmer</h6>
                <h5>Shaun Nesbitt</h5>
                <p class="m-t-1">Shaun has been programming for many years and for both big and small companies across the globe. Websites, apps, hardware - he knows it all</p>
            </div>
            <div class="col-md-6">
                <div class="team-container m-b-1">
                    <div class="team-image">
                        <img src="public/img/team/alicia.jpg" class="img-responsive" alt="#">
                    </div> 
                    <div class="team-caption">
                        <ul> 
                            <li class="social-icon"><a href="https://www.twitter.com/" target="_blank" class="text-primary"><i class="icon-twitter"></i></a></li>
                            <li class="social-icon"><a href="https://www.facebook.com/" target="_blank" class="text-primary"><i class="icon-facebook "></i></a></li>
                            <li class="social-icon"><a href="https://www.linkedin.com/" target="_blank" class="text-primary"><i class="icon-linkedin "></i></a></li>
                            <li class="social-icon"><a href="https://plus.google.com/" target="_blank" class="text-primary"><i class="icon-googleplus"></i></a></li> 
                        </ul> 
                    </div>  
                </div>
                <h6>Founder / COO / Head of Marketing and Business</h6>
                <h5>Alicia Pedersen</h5>
                <p class="m-t-1">Alicia is a talented business and marketing expert. She understands brands and how to build and promote your idea into the next big thing.</p>
            </div>
        </div>
    </div>
</section>