#projects {
    .card-image {
        opacity: 0;
        transition: opacity .3s ease-in;
        margin: auto;
    } 

    .card-img-overlay {
        background: rgba(0,0,0, 0.4);
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}