<section id="headline2" class="parallax light p-t-3 p-b-3">
    <div class="parallax-background" style="background-image: url(public/img/backgrounds/bg-5.jpg);">
        <img src="public/img/backgrounds/bg-5.jpg" alt="#">
    </div>
    <div class="container p-t-3 p-b-3">   
        <div class="row vertical-align text-xs-center p-t-3 p-b-3">
            <div class="col-md-12 p-t-3 p-b-3">   
                <h2>Ready to <strong class="text-primary">Kickstart</strong> Your Project</h2> 
                <p>Use NimbleCat to build <a href="#">amazing</a> websites and apps</p>
                <a href="#contact-form" class="btn btn-primary btn-md m-t-1 color-white">Contact us</a> 
            </div>
            
        </div>
    </div>
</section>