<section id="headline3" class="parallax dark p-t-3 p-b-3">
    <div class="parallax-background" style="background-image: url(public/img/backgrounds/bg-3.jpg);">
        <img src="public/img/backgrounds/bg-3.jpg" alt="#">
    </div>
    <div class="container p-t-3 p-b-3">   
        <div class="row vertical-align text-xs-center p-t-3 p-b-3">
            <div class="col-md-12 p-t-3 p-b-3">   
                <h2>A great website is <strong class="text-primary">responsive, fast</strong><br>and built with <strong class="text-primary">passion</strong></h2> 
                <a href="#contact-form" class="btn btn-primary btn-md m-t-1 color-white">Contact us now</a> 
            </div>
        </div>
    </div>
</section>