<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="NimbleCat Web Design and Application Development. We are a digital agency that loves crafting beautiful websites and apps with great functionality.">
    <meta name="author" content="Shaun Nesbitt">
    <meta name="google-site-verification" content="CdvZDGnLCc6w3BlmcGY0euB8uI4FdK7j8sGqQ0toMOY" />
    <title>NimbleCat Web Design and Application Development</title>
    <link rel="canonical" href="http://www.nimblecat.co.nz" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="NimbleCat Web Design and Application Development" />
    <meta property="og:description" content="NimbleCat Web Design and Application Development. Experts in web designs, ios apps, android apps and web development." />
    <meta property="og:url" content="http://www.nimblecat.co.nz" />
    <meta property="og:site_name" content="NimbleCat Web Design and Application Development" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="NimbleCat Web Design and Application Development. Experts in web designs, ios apps, android apps and web development." />
    <meta name="twitter:title" content="NimbleCat Web Design and Application Development" />
    <meta name="google-site-verification" content="CdvZDGnLCc6w3BlmcGY0euB8uI4FdK7j8sGqQ0toMOY" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="public/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="public/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="public/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="public/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="public/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="public/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="public/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="public/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="public/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="public/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="public/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="public/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="public/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="NimbleCat;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="public/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="public/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="public/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="public/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="public/favicon/mstile-310x310.png" />
    <link rel="shortcut icon" href="public/favicon.ico" />
</head>
<body class="loaded">
    {{> components/navbar }}
    {{> components/hero }}
    {{> components/about }}
    {{> components/skills }}
    {{> components/capabilities }}
    {{> components/headline2 }}
    {{> components/services }}
    {{> components/headline }}
    {{> components/projects }}
    {{> components/headline3 }}
    {{> components/designs }}
    {{> components/contact }}
    {{> components/footer }}
    {{> components/preloader }}
    
</body>
</html>