<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Webpack Boilerplate</title>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="build/style.css" />
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7CRaleway:400,100,200,300%7CHind:400,300" rel="stylesheet" type="text/css">
</head>
<body>
    test a
    {{> components/preloader }}
    {{> components/navbar }}
    {{> components/hero }}
    {{> components/about }}
    {{> components/service }}
    {{> components/contact }}
    {{> components/footer }}
    <script src="build/bundle.js"></script>
</body>
</html>